<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="数码之家签到.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <数码之家签到.Properties.Settings>
            <setting name="txtLoginID" serializeAs="String">
                <value />
            </setting>
            <setting name="txtLoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ProxyID" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPW" serializeAs="String">
                <value />
            </setting>
        </数码之家签到.Properties.Settings>
    </userSettings>
</configuration>